### Exercício 1 – Itens em comum

In [15]:
joao = {"arroz", "feijão", "macarrão", "leite"}
maria = {"leite", "café", "açúcar", "arroz"}

itens_comuns = joao.intersection(maria)
print(f"Itens em comum: {itens_comuns}")

Itens em comum: {'leite', 'arroz'}

### Exercício 2 – Itens exclusivos

In [16]:
itens_exclusivos_maria = maria.difference(joao)
print(f"Itens que apenas Maria comprou: {itens_exclusivos_maria}")

Itens que apenas Maria comprou: {'açúcar', 'café'}

### Exercício 3 - Lista sem repetição

In [17]:
dias = ("segunda", "terça", "quarta", "quinta", "sexta", "sábado", "domingo")
dias_unicos = set(dias)

print(f"Dias únicos: {dias_unicos}" )

Dias únicos: {'terça', 'sexta', 'quarta', 'quinta', 'segunda', 'domingo', 'sábado'}

### Exercício 4 - Acesso por índice

In [18]:
print(f"Primeiro dia: {dias[0]}")
print(f"Terceiro dia: {dias[2]}")
print(f"Último dia: {dias[-1]}")

Primeiro dia: segunda
Terceiro dia: quarta
Último dia: domingo

### Exercício 5 - Desempacotamento de tupla

In [19]:
produto = ("Arroz 5kg", 24.90)
nome, preco = produto

print(f"O produto {nome} custa R$ {preco}.")

O produto Arroz 5kg custa R$ 24.9.

### Exercício 6 - Tupla de tuplas

In [20]:
carrinho = ( ("Arroz", 24.90), ("Feijão", 8.50), ("Leite", 4.80) )

for nome, preco in carrinho:
    print(f"Produto: {nome} | Preço: R$ {preco:.2f}")

Produto: Arroz | Preço: R$ 24.90
Produto: Feijão | Preço: R$ 8.50
Produto: Leite | Preço: R$ 4.80

### Exercício 7 - Acesso a valores

In [21]:
tabela = { "Arroz": 24.90, "Feijão": 8.50, "Leite": 4.80, "Açúcar": 3.90 }

print(f"Preço do Leite: {tabela["Leite"]}", )
print(f"Preço do Feijão: {tabela["Feijão"]}")

Preço do Leite: 4.8
Preço do Feijão: 8.5

### Exercício 8 - Adição e atualização

In [22]:
tabela["Café"] = 14.20
tabela["Açúcar"] = 4.10

print(f"Dicionário atualizado: {tabela}")

Dicionário atualizado: {'Arroz': 24.9, 'Feijão': 8.5, 'Leite': 4.8, 'Açúcar': 4.1, 'Café': 14.2}

### Exercício 9 - Iteração sobre o dicionário

In [23]:
compras = { "Sabonete": 2.50, "Shampoo": 15.00, "Condicionador": 16.50 }

for produto, preco in compras.items():
    print(f"{produto}: R$ {preco:.2f}")

Sabonete: R$ 2.50
Shampoo: R$ 15.00
Condicionador: R$ 16.50

### Exercício 10 - Mini-Max Sum

In [24]:
numeros = [1, 3, 5, 7, 9]

min_sum = sum(sorted(numeros)[:4])
max_sum = sum(sorted(numeros)[1:])

print(min_sum, max_sum)

16 24

### Exercício 11 - Top 3 Sum

In [25]:
numeros = [10, 3, 5, 7, 2, 8, 12]

min_soma = sum(sorted(numeros)[:3])
max_soma = sum(sorted(numeros)[-3:])

print(min_soma, max_soma)

10 30

### Exercício 12 - "Alunos Matriculados"

In [26]:
curso_a = {("Ana", 101), ("Carlos", 102), ("João", 103)}
curso_b = {("João", 103), ("Marina", 104), ("Carlos", 102)}

exclusivo_a = curso_a - curso_b
exclusivo_b = curso_b - curso_a
matriculados_ambos = curso_a.intersection(curso_b)

print(f"Exclusivos do curso A:{exclusivo_a}")
print(f"Exclusivos do curso B: {exclusivo_b}")
print(f"Matriculados nos dois cursos: {matriculados_ambos}")

Exclusivos do curso A:{('Ana', 101)}
Exclusivos do curso B: {('Marina', 104)}
Matriculados nos dois cursos: {('João', 103), ('Carlos', 102)}

### Exercício 13 - "Médias dos Alunos"

In [27]:
boletim = { "Ana": (8.0, 7.5), "Carlos": (5.0, 6.0), "Beatriz": (9.0, 8.5), "Daniel": (6.0, 6.5) }

medias = {nome: sum(notas)/len(notas) for nome, notas in boletim.items()}
aprovados = sorted([nome for nome, media in medias.items() if media >= 7.0])
reprovados = sorted([nome for nome, media in medias.items() if media < 7.0])

print(f"Médias dos alunos: {medias}")
print(f"Aprovados: {aprovados}")
print(f"Reprovados: {reprovados}")

Médias dos alunos: {'Ana': 7.75, 'Carlos': 5.5, 'Beatriz': 8.75, 'Daniel': 6.25}
Aprovados: ['Ana', 'Beatriz']
Reprovados: ['Carlos', 'Daniel']

### Exercício 14 - "Número Inteiro para Romano"

In [28]:
def int_to_roman(n):
    valores = [
        (1000,'M'), (900,'CM'), (500, 'D'), (400,'CD'), 
        (100,'C'), (90,'XC'), (50,'L'), (40, 'XL'), 
        (10,'X'), (9,'IX'), (5,'V'), (4,'IV'), (1, 'I')
    ]
    
    resultado = ''
    
    for valor, simbolo in valores:
        while n >= valor:
            resultado += simbolo
            n -= valor
    return resultado

resultado = int(input('Digite um número: '))
print(f'{int_to_roman(resultado)}')

XII