#### Biblioteca usadas no Pré-processamento

- pandas: leitura e manipulação de dados em tabelas (DataFrames)
- imputação (preenchimento) de **valores faltantes**
- codificação **categórica** e **normalização**
- separa dados em **treino/teste**

In [1]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA

### Lendo arquivo de dados

In [2]:
df = pd.read_csv('https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIM/DO23OPEN.csv', encoding='latin1', sep=';')

C:\Users\victo\AppData\Local\Temp\ipykernel_13696\2522546110.py:1: DtypeWarning: Columns (65) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIM/DO23OPEN.csv', encoding='latin1', sep=';')

### Informações Data Frame

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1465610 entries, 0 to 1465609
Data columns (total 86 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   contador    1465610 non-null  int64
 1   ORIGEM      1465610 non-null  int64
 2   TIPOBITO    1465610 non-null  int64
 3   DTOBITO     1465610 non-null  int64
 4   HORAOBITO   1416392 non-null  float64
 5   NATURAL     1399908 non-null  float64
 6   CODMUNNATU  1381624 non-null  float64
 7   DTNASC      1462816 non-null  float64
 8   IDADE       1465610 non-null  int64
 9   SEXO        1465610 non-null  int64
 10  RACACOR     1442526 non-null  float64
 11  ESTCIV      1399251 non-null  float64
 12  ESC         1375905 non-null  float64
 13  ESC2010     1367238 non-null  float64
 14  SERIESCFAL  404622 non-null   float64
 15  OCUP        1263542 non-null  float64
 16  CODMUNRES   1465610 non-null  int64
 17  LOCOCOR     1465610 non-null  int64
 18  CODESTAB    1064156 non-null  float64
 19  CODMUNOCOR  1465610 non-null  int64
 20  IDADEMAE    29183 non-null    float64
 21  ESCMAE      28950 non-null    float64
 22  ESCMAE2010  28820 non-null    float64
 23  SERIESCMAE  12375 non-null    float64
 24  OCUPMAE     25908 non-null    float64
 25  QTDFILVIVO  29164 non-null    float64
 26  QTDFILMORT  28333 non-null    float64
 27  GRAVIDEZ    29909 non-null    float64
 28  SEMAGESTAC  28698 non-null    float64
 29  GESTACAO    28698 non-null    float64
 30  PARTO       29785 non-null    float64
 31  OBITOPARTO  29545 non-null    float64
 32  PESO        28705 non-null    float64
 33  TPMORTEOCO  87151 non-null    float64
 34  OBITOGRAV   87679 non-null    float64
 35  OBITOPUERP  87662 non-null    float64
 36  ASSISTMED   1020765 non-null  float64
 37  EXAME       4106 non-null     float64
 38  CIRURGIA    3949 non-null     float64
 39  NECROPSIA   1047269 non-null  float64
 40  LINHAA      1421060 non-null  object
 41  LINHAB      1118038 non-null  object
 42  LINHAC      688554 non-null   object
 43  LINHAD      291456 non-null   object
 44  LINHAII     630076 non-null   object
 45  CAUSABAS    1465610 non-null  object
 46  CB_PRE      0 non-null        float64
 47  COMUNSVOIM  257792 non-null   float64
 48  DTATESTADO  1459985 non-null  float64
 49  CIRCOBITO   153897 non-null   float64
 50  ACIDTRAB    51838 non-null    float64
 51  FONTE       126366 non-null   float64
 52  NUMEROLOTE  1465486 non-null  float64
 53  DTINVESTIG  242831 non-null   float64
 54  DTCADASTRO  1465071 non-null  float64
 55  ATESTANTE   1362572 non-null  float64
 56  STCODIFICA  1465270 non-null  object
 57  CODIFICADO  1465608 non-null  object
 58  VERSAOSIST  1465608 non-null  object
 59  VERSAOSCB   1412959 non-null  float64
 60  FONTEINV    245325 non-null   float64
 61  DTRECEBIM   1463134 non-null  float64
 62  ATESTADO    1465610 non-null  object
 63  DTRECORIGA  1465610 non-null  int64
 64  OPOR_DO     1465610 non-null  int64
 65  CAUSAMAT    25 non-null       object
 66  ESCMAEAGR1  28820 non-null    float64
 67  ESCFALAGR1  1367238 non-null  float64
 68  STDOEPIDEM  1465608 non-null  float64
 69  STDONOVA    1465610 non-null  int64
 70  DIFDATA     1465610 non-null  int64
 71  NUDIASOBCO  60100 non-null    float64
 72  DTCADINV    60520 non-null    float64
 73  TPOBITOCOR  60520 non-null    float64
 74  DTCONINV    60032 non-null    float64
 75  FONTES      29861 non-null    object
 76  TPRESGINFO  2629 non-null     float64
 77  TPNIVELINV  60588 non-null    object
 78  DTCADINF    29861 non-null    float64
 79  MORTEPARTO  29861 non-null    float64
 80  DTCONCASO   27375 non-null    float64
 81  ALTCAUSA    28851 non-null    float64
 82  CAUSABAS_O  1464573 non-null  object
 83  TPPOS       947635 non-null   object
 84  TP_ALTERA   5161 non-null     float64
 85  CB_ALT      4741 non-null     object
dtypes: float64(57), int64(13), object(16)
memory usage: 961.6+ MB

### Estatísticas Descritivas

- Retorna medidas de tendência central (análise geral).

In [4]:
df.describe

<bound method NDFrame.describe of          contador  ORIGEM  TIPOBITO   DTOBITO  HORAOBITO  NATURAL  CODMUNNATU  \
0               1       1         2  14022023      930.0    833.0    330270.0
1               2       1         2  14022023     1730.0    822.0    221110.0
2               3       1         2  14022023      500.0    822.0    220790.0
3               4       1         2  14022023     2235.0    823.0    231180.0
4               5       1         2  14022023      940.0    841.0    411350.0
...           ...     ...       ...       ...        ...      ...         ...
1465605   1465606       1         2  30112023     2100.0    816.0    160050.0
1465606   1465607       1         2  12122023     1220.0    815.0    150060.0
1465607   1465608       1         2  22122023     1734.0    815.0    150060.0
1465608   1465609       1         2  22122023     2030.0    813.0    130140.0
1465609   1465610       1         2  31122023        NaN    851.0    510385.0

             DTNASC  IDADE  SEXO  ...  TPRESGINFO  TPNIVELINV    DTCADINF  \
0        10071954.0    468     1  ...         NaN         NaN         NaN
1        12091956.0    466     1  ...         NaN         NaN         NaN
2        10011953.0    470     2  ...         NaN         NaN         NaN
3        15121943.0    479     2  ...         NaN         NaN         NaN
4         9041973.0    449     2  ...         NaN           M         NaN
...             ...    ...   ...  ...         ...         ...         ...
1465605   1042023.0    307     1  ...         NaN         NaN  10062024.0
1465606  23101987.0    436     1  ...         NaN         NaN         NaN
1465607   5112023.0    301     1  ...         NaN         NaN  15042024.0
1465608   1012008.0    415     2  ...         NaN           E         NaN
1465609  17122023.0    214     2  ...         NaN         NaN  26042024.0

         MORTEPARTO   DTCONCASO  ALTCAUSA  CAUSABAS_O  TPPOS  TP_ALTERA  \
0               NaN         NaN       NaN         I10    NaN        NaN
1               NaN         NaN       NaN        I678    NaN        NaN
2               NaN         NaN       NaN        K750    NaN        NaN
3               NaN         NaN       NaN         I64      S        NaN
4               NaN         NaN       NaN        C189      S        NaN
...             ...         ...       ...         ...    ...        ...
1465605         3.0  26052024.0       2.0         NaN    NaN        NaN
1465606         NaN         NaN       NaN         NaN    NaN        NaN
1465607         3.0  20032024.0       1.0         NaN    NaN        NaN
1465608         NaN         NaN       NaN         NaN    NaN        NaN
1465609         3.0   4022024.0       2.0         NaN    NaN        NaN

         CB_ALT
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
...         ...
1465605     NaN
1465606     NaN
1465607     NaN
1465608     NaN
1465609     NaN

[1465610 rows x 86 columns]>

### Dimensões do DF

- Analise a estrutura do **DataFrame** para entender o conjunto de dados: formato, tipo de dados e valores ausentes.

In [5]:
# Formato dos dados
df.shape

(1465610, 86)

In [6]:
# Tipos de variáveis
df.dtypes

contador        int64
ORIGEM          int64
TIPOBITO        int64
DTOBITO         int64
HORAOBITO     float64
               ...
ALTCAUSA      float64
CAUSABAS_O     object
TPPOS          object
TP_ALTERA     float64
CB_ALT         object
Length: 86, dtype: object

### Dimensões do DF

In [7]:
# Primeiras 5 linhas
df.head()

,contador,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,SEXO,...,TPRESGINFO,TPNIVELINV,DTCADINF,MORTEPARTO,DTCONCASO,ALTCAUSA,CAUSABAS_O,TPPOS,TP_ALTERA,CB_ALT
0,1,1,2,14022023,930.0,833.0,330270.0,10071954.0,468,1,...,NaN,NaN,NaN,NaN,NaN,NaN,I10,NaN,NaN,NaN
1,2,1,2,14022023,1730.0,822.0,221110.0,12091956.0,466,1,...,NaN,NaN,NaN,NaN,NaN,NaN,I678,NaN,NaN,NaN
2,3,1,2,14022023,500.0,822.0,220790.0,10011953.0,470,2,...,NaN,NaN,NaN,NaN,NaN,NaN,K750,NaN,NaN,NaN
3,4,1,2,14022023,2235.0,823.0,231180.0,15121943.0,479,2,...,NaN,NaN,NaN,NaN,NaN,NaN,I64,S,NaN,NaN
4,5,1,2,14022023,940.0,841.0,411350.0,9041973.0,449,2,...,NaN,M,NaN,NaN,NaN,NaN,C189,S,NaN,NaN

### Redução da dimensão horizontal (seleção de colunas)

In [8]:
cols_num = ['IDADE', 'PESO_NASC', 'QTDE_EMB']
cols_cat = ['RACACOR', 'ESTCIVIL', 'ESC', 'OCUP', 'CAUSABAS', 'LOCOCOR']

### Dimensões do DF

In [9]:
# Valores ausentes
df.isnull().sum()

contador            0
ORIGEM              0
TIPOBITO            0
DTOBITO             0
HORAOBITO       49218
               ...
ALTCAUSA      1436759
CAUSABAS_O       1037
TPPOS          517975
TP_ALTERA     1460449
CB_ALT        1460869
Length: 86, dtype: int64

### Biblioteca para Tratamento de Valores Ausentes

- `SimpleImputer` é usado para tratar **dados ausentes** (também chamados de "NaN" ou "missing values").

Ele oferece diferentes estratégias para preencher esses valores ausentes, como:

- `mean` **(média)**: Preenche os valores ausentes com a **média da coluna**.
- `median` **(mediana)**: Preenche os valores ausentes com a **mediana da coluna**.
- `most_frequent` **(mais frequente)**: Preenche os valores ausentes **com o valor mais comum (o que mais se repete)** da coluna.
- `constant` **(constante)**: Preenche os valores ausentes com um **valor constante definido** por você.
- `Moda`: valor/texto que aparece com maior frequência em um conjunto de dados

### Tratamento de Valores Ausentes

In [10]:
im_num = SimpleImputer(strategy='median')
im_cat = SimpleImputer(strategy='most_frequent')

In [11]:
for col in cols_num:
    if col in df.columns:
        df[col] = im_num.fit_transform(df[[col]])

### Biblioteca para Transformação de Variáveis Categóricas

`OneHotEncoder`: cria uma nova coluna binária para cada categoria única.
Por exemplo, se a coluna "cidade" tem os valores "São Paulo", "Rio de Janeiro" e "Belo Horizonte", o `OneHotEncoder` **criará três novas colunas, uma para cada cidade** e atribuirá um valor de 1 na coluna correspondente e 0 nas outras.

### Transformação de Variáveis Categóricas

In [12]:
cols_cat_to_encode = ['RACACOR', 'ESC', 'OCUP', 'CAUSABAS']
enc = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

In [13]:
df_processed = pd.concat([df.drop(columns=cols_cat_to_encode).reset_index(drop=True)], axis=1)

### Biblioteca para Padronização de Variáveis Numéricas

- `StandardScaler`: Normaliza dados numéricos.
- Transforma os dados de forma que eles tenham uma média de 0 e 1 e um desvio padrão de 1.

É útil para muitos algoritmos, pois o algoritmo pode dar mais peso às
variáveis com valores maiores, o que pode prejudicar a performance.

### Padronização de Variáveis Numéricas

In [14]:
cols_cat_to_scale = ['IDADE']
scaler = StandardScaler()

In [15]:
df_processed[cols_cat_to_scale] = scaler.fit_transform(df_processed[cols_cat_to_scale])

### Divisão da Base em Treino e Teste

- Para finalizar, prepare os dados para treinamento do modelo. O objetivo é prever o sexo do indivíduo com base em outras características.
- Separar a variável alvo (SEXO) das demais e, em seguida, dividir os
dados em 70% para treino e 30% para teste.

In [16]:
X = df_processed.drop(columns=['ORIGEM', 'TIPOBITO', 'SEXO'])
y = df_processed['SEXO']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [17]:
# Tamanho do conjunto de treino
X_train.shape

(1025927, 79)

In [18]:
# Tamanho do conjunto de teste
X_test.shape

(439683, 79)

### Exibição das bases

- 20 primeiros registros de X_train (características de treino)

In [19]:
X_train.head(20)

,contador,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,ESTCIV,ESC2010,SERIESCFAL,...,TPRESGINFO,TPNIVELINV,DTCADINF,MORTEPARTO,DTCONCASO,ALTCAUSA,CAUSABAS_O,TPPOS,TP_ALTERA,CB_ALT
985644,985645,2092023,1235.0,831.0,310620.0,25071966.0,-0.125073,1.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,C349,N,NaN,NaN
620810,620811,7062023,1532.0,823.0,230930.0,16091980.0,-0.435294,2.0,2.0,NaN,...,NaN,M,NaN,NaN,NaN,NaN,I619,N,NaN,NaN
137573,137574,6022023,10.0,835.0,351200.0,29071947.0,0.247191,9.0,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,J81,N,NaN,NaN
726529,726530,1072023,1030.0,841.0,412220.0,25101932.0,0.557412,3.0,1.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,I110,N,NaN,NaN
405508,405509,16042023,2144.0,835.0,353140.0,8081948.0,0.226510,1.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,A418,N,NaN,NaN
750795,750796,7072023,2133.0,826.0,260350.0,9051988.0,-0.580064,1.0,1.0,NaN,...,NaN,M,NaN,NaN,NaN,NaN,A270,NaN,NaN,NaN
630831,630832,9062023,1910.0,831.0,311710.0,17051938.0,0.454005,1.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,E142,N,NaN,NaN
1350638,1350639,2122023,535.0,835.0,351090.0,1041923.0,0.764226,2.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,J690,N,NaN,NaN
59398,59399,16012023,2323.0,831.0,312360.0,6021938.0,0.433324,3.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,B342,NaN,NaN,NaN
996459,996460,5092023,2158.0,NaN,NaN,15021950.0,0.205829,1.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N390,N,NaN,NaN
767744,767745,11072023,200.0,831.0,317020.0,18111935.0,0.495368,3.0,1.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,I678,NaN,NaN,NaN
309782,309783,23032023,130.0,823.0,231180.0,27061930.0,0.598775,3.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,G309,S,NaN,NaN
1417476,1417477,19122023,1427.0,NaN,NaN,27081959.0,0.019696,3.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N189,NaN,NaN,NaN
362182,362183,5042023,2300.0,826.0,260610.0,7031955.0,0.102422,2.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,J181,N,NaN,NaN
984722,984723,2092023,1128.0,835.0,352710.0,5051934.0,0.536731,3.0,1.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,E149,N,NaN,NaN
982511,982512,1092023,1530.0,843.0,430330.0,23031960.0,-0.000985,2.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,I718,N,NaN,NaN
440832,440833,25042023,325.0,829.0,291170.0,16051944.0,0.309236,1.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,I219,NaN,NaN,NaN
326252,326253,27032023,444.0,852.0,521760.0,26061952.0,0.143785,2.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,G309,N,NaN,NaN
502257,502258,10052023,1130.0,823.0,231400.0,10101967.0,-0.166436,1.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,I219,S,NaN,NaN
431603,431604,23042023,616.0,821.0,210270.0,14021964.0,-0.083711,4.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,J189,NaN,NaN,NaN

- 20 primeiros registros de y_train (rótulos de treino)

In [20]:
y_train.head(20)

985644     2
620810     2
137573     1
726529     1
405508     2
750795     2
630831     1
1350638    1
59398      2
996459     2
767744     2
309782     2
1417476    2
362182     1
984722     2
982511     2
440832     1
326252     2
502257     1
431603     1
Name: SEXO, dtype: int64

- 20 primeiros registros de X_test (características de teste)

In [21]:
X_test.head(20)

,contador,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,ESTCIV,ESC2010,SERIESCFAL,...,TPRESGINFO,TPNIVELINV,DTCADINF,MORTEPARTO,DTCONCASO,ALTCAUSA,CAUSABAS_O,TPPOS,TP_ALTERA,CB_ALT
44622,44623,12012023,1310.0,822.0,221100.0,10081998.0,-0.807559,1.0,4.0,NaN,...,NaN,M,NaN,NaN,NaN,NaN,R96,S,NaN,NaN
387085,387086,12042023,939.0,822.0,220820.0,15031959.0,0.019696,2.0,1.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,E142,N,NaN,NaN
235197,235198,4032023,1551.0,NaN,NaN,20081963.0,-0.083711,2.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,J189,N,NaN,NaN
407214,407215,16042023,500.0,831.0,316010.0,18111987.0,-0.580064,2.0,5.0,NaN,...,NaN,M,NaN,NaN,NaN,NaN,W194,S,NaN,NaN
490581,490582,7052023,1856.0,843.0,431500.0,31101954.0,0.102422,3.0,2.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,K319,N,NaN,NaN
729820,729821,2072023,922.0,835.0,355220.0,15031945.0,0.309236,2.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,C169,N,NaN,NaN
762105,762106,9072023,1400.0,842.0,420840.0,20051950.0,0.205829,2.0,1.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,J440,N,NaN,NaN
1239191,1239192,5112023,1830.0,822.0,220050.0,10101921.0,0.805589,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,C61,N,NaN,NaN
1340371,1340372,30112023,2323.0,841.0,411330.0,3031968.0,-0.166436,3.0,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,C169,N,NaN,NaN
509650,509651,11052023,2000.0,831.0,312570.0,6061943.0,0.329917,3.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,R99,NaN,NaN,NaN
484301,484302,5052023,2252.0,829.0,293290.0,24071929.0,0.619456,3.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,D649,NaN,NaN,NaN
79453,79454,21012023,1000.0,825.0,250750.0,17011952.0,0.164466,5.0,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,I219,NaN,NaN,NaN
463397,463398,30042023,1211.0,829.0,293060.0,8021971.0,-0.228480,2.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,I219,N,NaN,NaN
460543,460544,30042023,640.0,852.0,521405.0,22111975.0,-0.331887,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,F102,N,NaN,NaN
539971,539972,19052023,326.0,829.0,293120.0,20091961.0,-0.042348,2.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,I501,NaN,NaN,NaN
1282077,1282078,16112023,1400.0,823.0,230940.0,19061942.0,0.371280,3.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,X700,NaN,NaN,NaN
317009,317010,25032023,1100.0,829.0,291800.0,10111947.0,0.247191,1.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,I10,N,NaN,NaN
231313,231314,3032023,110.0,NaN,NaN,12101952.0,0.143785,2.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,J841,N,NaN,NaN
1397855,1397856,14122023,140.0,831.0,311520.0,7021954.0,0.123103,2.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,I219,NaN,NaN,NaN
1408223,1408224,17122023,224.0,831.0,310190.0,15061936.0,0.495368,3.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,I64,N,NaN,NaN

-  20 primeiros registros de y_test (rótulos de teste)

In [22]:
y_test.head(20)

44622      2
387085     1
235197     1
407214     2
490581     2
729820     2
762105     2
1239191    1
1340371    1
509650     2
484301     2
79453      1
463397     1
460543     1
539971     2
1282077    1
317009     2
231313     1
1397855    2
1408223    2
Name: SEXO, dtype: int64